<div class="header">
  <div class="image"><img src="accenture.png" /></div>
</div>
<div>
  <h2>Welcome to Accenture's Upskilling testing platform</h2>
  <span
    >If you are already a registered User please click on Login button else
    click on Register button it will take you to registration page.</span
  >
</div>
<div>
  <button (click)="onClickLogin()"><a routerLink="/login">Login</a></button>
  <button (click)="onClickRegister()">
    <a routerLink="/register">Register</a>
  </button>
</div>
